# Backup files
*.s#?
*.b#?
*.l#?
*.bak
*.kicad_pcb-bak

# Backup files in freecad and gcode
*.gcode
*.fcstd1

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.DS_Store

# Folder config file
desktop.ini
Thumbs.db
